@import url('https://fonts.googleapis.com/css2?family=VT323&family=Oxygen:wght@700&family=Poppins:wght@300&display=swap');

body {
    text-align: center !important;
    margin: auto !important;
    margin: 2vw;
    padding: 0;
    display: block;
    overflow-x: hidden;
    background-color: #fff3ae;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    font-family: sans-serif;
}

h1 {
    color: #363636;
    font-size: 45px;
    /* font-variant: small-caps; */
    /* font-weight: bold; */
    font-family: sans-serif;
}

#title {
    color: #f7f7f7;
    text-align: center !important;
    margin: auto !important;
    max-width: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

h1 > a {
    color: #363333;
    text-align: center !important;
    margin: auto !important;
    max-width: auto;
    width: 100%;
}

h2 {
    color: #4e4d4d;
    font-size: 30px;
    font-variant: small-caps;
    font-weight: 600;
}

h3 {
    /* color: #4e4d4d; */
    /* font-size: 20px; */
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
}

h4 {
    /* color: #4e4d4d; */
    /* font-size: 19px; */
    font-weight: 100;
    margin-top: 0;
}

#personal-desc {
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    width: 40vw;
    max-width: 500px;
}

/*
    Floating boxes
*/
.floating-box-white {
    text-align: center !important;
    margin: auto !important;
    padding: 15px;
    background-color: rgb(253, 252, 252);
    box-shadow: 10px 10px 5px #dfd391;
    max-width: auto;
    width: fit-content;
    border: 2px solid #555454;
}

/*
    Horizontal & vertical flexbox
*/
.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.align-left {
    text-align: left;
}

/*
    Image cropper
*/
.image-cropper {
    width: 230px;
    height: 230px;
    position: relative;
    overflow: hidden;
    border-radius: 20%;
}

.image-cropper-border {
    width: 230px;
    height: 230px;
    position: relative;
    overflow: hidden;
    /* border-radius: 50%; */
    border: 3px solid #626d63;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/*
    Button to copy text to clipboard
*/
.copyBtn {
    margin-top: 15px;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    color: #383535;
    letter-spacing: 1px;
    padding: 4;
    outline: 0;
    border: 2px solid #F1F1F1;
    cursor: default;
    position: relative;
    border-radius: 15%;
    transition: 0.3s;
}
  
.copyBtn:hover {
    color: #F1F1F1;
    background-color: #6ab877;
}

.copyBtn:active {
    box-shadow: 0 5px rgb(201, 201, 201);
    transform: translateY(5px);
}

/*
    Resume button
*/
.resume-btn {
    margin-top: 15px;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    color: #F1F1F1;
    background-color: #383535;
    cursor: pointer;
    position: relative;
    /* border-radius: 5%; */
    /* letter-spacing: 1px; */
    /* font-variant: small-caps; */
    text-decoration: none;
    transition: 0.3s;
}

.resume-btn:hover {
    color: #181717;
    background-color: #F1F1F1;
    /* font-weight: bold; */
}

.projects-btn {
    margin-top: 15px;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    color: #F1F1F1;
    background-color: #519b5d;
    cursor: pointer;
    position: relative;
    /* border-radius: 5%; */
    /* letter-spacing: 1px; */
    /* font-variant: small-caps; */
    text-decoration: none;
    transition: 0.3s;
}

.projects-btn:hover {
    color: #519b5d;
    background-color: #F1F1F1;
    /* font-weight: bold; */
}

.mapache-btn {
    margin-top: 15px;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    color: #F1F1F1;
    background-color: #3a66a7;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
}

.mapache-btn:hover {
    color: #3a66a7;
    background-color: #F1F1F1;
}

.contact-btn {
    margin-top: 15px;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    color: #F1F1F1;
    background-color: #c47114;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
}

.contact-btn:hover {
    color: #519b5d;
    background-color: #F1F1F1;
}

/*
    Social media buttons
*/

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius:10%;
    transition: 0.3s;
}

.fa:hover {
    opacity: 0.7;
}
/* Facebook */
.fa-github {
    background: #242831;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

/*
    Projects dashboard
*/

.floating-box-project {
    text-align: center !important;
    margin: auto !important;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px #dfd391;
    max-width: auto;
    width: fit-content;
    border: 2px solid #555454;
}

.project-description {
    word-wrap: break-word;
    width: 30vw;
    max-width: 400px;
}

.language-icon {
    height:auto;
    width: 30px;
}

.project-title {
    width: 20vw;
    max-width: 300px;
    font-family: 'Oxygen', sans-serif;
    font-variant: normal;
}

.project-desc {
    width: 30vw;
    max-width: 400px;
    text-align: right;
    font-family: 'Helvetica';
    font-style: italic;
    font-weight: bold;
    color: #519b5d;
}

@media only screen and (max-width: 500px) {
    h1 {
        color: #363636;
        font-size: 25px;
        font-variant: small-caps;
        font-weight: bold;
    }

    h2 {
        color: #4e4d4d;
        font-size: 25px;
        font-variant: small-caps;
        font-weight: 600;
    }

    .floating-box-white {
        /* text-align: center !important; */
        /* margin: auto !important; */
        padding: 15px;
        background-color: rgb(253, 252, 252);
        box-shadow: 10px 10px 5px #aaaaaa;
        /* width: 400px; */
        border: 2px solid #555454;
    }

    .horizontal-flex {
        display: flex;
        flex-direction: column;
    }

    #personal-desc {
        text-align: center;
        text-align: justify;
        text-justify: inter-word;
        width: 90%;
        max-width: 500px;
    }
}